{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Groups</h1>
<ul class="list-group list-group-flush" id="groups">
  {% for group in user.groups %}
  <li class="list-group-item">
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="{{ url_for('views.group', group_id=group.id) }}"
      >{{ group.name }}</a
    >
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="group" id="group" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Group</button>
  </div>
</form>
{% endblock %}
