{% extends "base.html" %} {% block title %}Home{% endblock %} {% block header %}
<h1 align="center">Groups</h1>
{% endblock %} {% block content %}
<ul class="list-group list-group-flush" id="groups">
  {% if user.groups|length > 0 %} {% for group in user.groups %}
  <li class="list-group-item">
    <div class="row justify-content-center">
      <div class="col-4 align-self-center">
        <p class="h6">{{ group.name }}</p>
      </div>
      <div class="col-auto">
        <form
          action="{{ url_for('views.group', group_id=group.id) }}"
          method="POST"
        >
          <input class="btn btn-success" type="submit" value="View" />
        </form>
      </div>
      <div class="col-auto">
        <form
          action="{{ url_for('views.leave_group', group_id=group.id) }}"
          method="POST"
        >
          <input class="btn btn-danger" type="submit" value="Leave" />
        </form>
      </div>
    </div>
  </li>
  {% endfor %} {% else %}
  <h2 align="center">No Groups</h2>
  {% endif %}
</ul>

<form method="POST">
  <div class="row justify-content-center pt-3">
    <div class="col-3">
      <input
        type="text"
        class="form-control text-center"
        name="group"
        id="group"
        placeholder="Group Name"
      />
    </div>
    <div class="col-auto offset-md-1">
      <button type="submit" class="btn btn-primary">Create Group</button>
    </div>
  </div>
</form>
{% endblock %}
